<a href="https://colab.research.google.com/github/shefnaa/Appartment_scraping/blob/main/makkanprj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import time
import requests
from IPython.display import clear_output
from bs4 import BeautifulSoup
import pandas as pd

base_url = 'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?page='

own = []   
bhk = []
prz = []
sqt = []
loc = []
stat = []
pps = []

for i in range(1,11):
  time.sleep(3)

  print(f'Going to scrape data from {i} page')
  clear_output(wait=True)
  url = base_url+str(i)
  req = requests.get(url)
  soup = BeautifulSoup(req.text,'html')

  #owner info
  ow_info = soup.findAll('span',attrs={'class':'seller-type'})
  for j in ow_info:
    own.append(j.text)
  
  #bhk info
  bhk_info = soup.findAll('div',attrs={'class':'title-line'})
  for j in bhk_info:
    bhk.append(j.strong.span.text)

  #price info
  p_info = soup.findAll('div',attrs={'data-type':'price-link'})
  for  j in p_info:
    prz.append(j.text)
  
  #size info
  s_info = soup.findAll("td",attrs={'class':'size'})
  for j in s_info:
    sqt.append(j.text)
  
  #location info
  loc_info = soup.findAll('span',attrs={'itemprop':'addressLocality'})
  for j in loc_info:
    loc.append(j.text)
  
  #status info
  st_info = soup.findAll('tr',attrs={'class':'hcol w44'})
  for j in st_info:
    stat.append(j.text)

  #price per sqft info
  pps_info = soup.findAll('td',attrs={'class':'lbl rate'})
  for j in pps_info:
    pps.append(j.text)

Going to scrape data from 10 page

In [3]:
data = pd.DataFrame({'Owner_inf' :own ,
              'Bhk_info' : bhk,
              'Price' : prz,
              'Locality' : loc,
              'Area_sqft' : sqt,
              'Status' :stat ,
              'Price_Per_sqft' : pps})

In [6]:
data.to_csv('apartmentdata.csv',index=False)
data

    Owner_inf Bhk_info  ...                                 Status Price_Per_sqft
0     BUILDER       3   ...  Under ConstructionConstruction Status  5,699 / sq ft
1     BUILDER       2   ...       Ready to moveConstruction Status  9,565 / sq ft
2     BUILDER       2   ...  Under ConstructionConstruction Status  4,400 / sq ft
3     BUILDER       2   ...  Under ConstructionConstruction Status  4,899 / sq ft
4     BUILDER       3   ...  Under ConstructionConstruction Status  4,600 / sq ft
..        ...      ...  ...                                    ...            ...
195     OWNER       3   ...  Under ConstructionConstruction Status  2,307 / sq ft
196     OWNER       3   ...  Under ConstructionConstruction Status  2,307 / sq ft
197     OWNER       3   ...  Under ConstructionConstruction Status  2,307 / sq ft
198     OWNER       3   ...  Under ConstructionConstruction Status  2,307 / sq ft
199     OWNER       2   ...  Under ConstructionConstruction Status  3,529 / sq ft

[200 rows x 7 columns]